{% extends 'base.html' %}

{% block title %}{{ contactdata.contact_name }}{% endblock %}

{% block content %}
<!--<a href="/contactlist/">Return to Contact List</a>-->

<p><strong>Name:</strong> {{ contactdata.contact_name }}</p>
<p><strong>Address:</strong> {{ contactdata.contact_address }}</p>
<p><strong>Phone Number:</strong> {{ contactdata.contact_number }}</p>
<p><strong>Email:</strong> {{ contactdata.contact_email }}</p>

<a class="btn btn-outline-primary" href="/contactlist/{{ contactdata.id }}/update/">
    Edit Contact
</a>
{% endblock %}